# compiled
*.pyc

# IntelliJ
.idea
*.iml

# VSCode
.vscode

# Wandb
wandb

# data
data

# notebook
notebooks/.ipynb_checkpoints

## PyCache

**/__pycache__
__pycache__/

## DS_Store
**/.DS_Store

## Weights
weights