h5py==2.10.0
importlib-metadata==2.0.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.19.2
Pillow==8.1.1
streamlit==0.78.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
wandb==0.10.20
opencv-python